
ML/.vs/ML/v17/.suo
*.sln
*.csproj
ML/ML/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ML/ML/obj/Debug/net6.0/ML.AssemblyInfo.cs
ML/ML/obj/Debug/net6.0/ML.assets.cache
*.cache
*.json
*.props
*.targets
ML/ML/obj/Debug/net6.0/ML.GlobalUsings.g.cs
ML/ML/obj/Debug/net6.0/ML.GeneratedMSBuildEditorConfig.editorconfig
*.lock
*.vsidx
*.dll
*.exe
ML/ML/obj/Debug/net6.0/ML.csproj.FileListAbsolute.txt
*.pdb
*.BuildWithSkipAnalyzers
*.v2
*.2
/ML/ML/bin
